# Infrastructure Developer - General owners for all files
* @apayne185

# Product Owner - Owns documentation and product feature descriptions
/README.md @celinezoubii

# Site Reliability
/main.bicep @Nvh270704 @Thulfiqarr

# Cybersecurity - Owns specific infrastructure secrets
/modules/ @trinirocaaa

# Access to workflows
/.github/workflows/ @trinirocaaa

# Access to parameters
/modules/parameters/ @trinirocaaa
